<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/createcategory.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>New Category</title>
</head>
<body>
    <div id="container">
        @model CategoryViewModel
        <h1>New Category</h1>
        <form asp-action="CreateCategory" asp-controller="Home" method="POST">
            <span asp-validation-for="Name" style="color:red"></span> 
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name">
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>